$font-family-headers: roboto, arial, helvetica;
$font-family-headers-four: Arial, Helvetica, sans-serif;
$paragraph-color: hsl(210, 22%, 49%);
$skills-subjects-percentage-color: #362a0c;
%h1-style {
  font-family: $font-family-headers;
  font-size: 1.8rem;
  font-weight: 550;
  letter-spacing: 7px;
  text-transform: capitalize;
  transform: scale(1, 2);

  opacity: 0.8;
}
%hr {
  border: none;
  height: 5px;
  width: 20%;
  margin-bottom: 20px;
  background-color: #e9b949;
  margin-left: 10px;
}
%span1-prj {
  position: absolute;
  padding: 15px 20px;
  background-color: #ffffff;
  opacity: 0;
  top: 10%;
  left: 17%;
  border-radius: 7px;
  font-size: 1.1rem;
  box-shadow: 1px 1px 2px rgb(54, 54, 54);
}

.span-skills {
  font-size: 1.1rem;
  padding: 15px 0px;
  color: $skills-subjects-percentage-color;
}
.percentage-number {
  color: $skills-subjects-percentage-color;
  font-size: 1.1rem;
  padding: 15px 0px;
  margin-left: 41%;
}

%percent {
  display: flex;
  position: relative;
  margin-bottom: 35px;

  .hr-yellow {
    @extend %hr;
    width: 60%;
    height: 20px;
    margin-left: 0;
    border-radius: 25px;
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 1;
  }
  .hr-black {
    @extend %hr;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #171717;
    width: 50%;
    height: 20px;
    border-radius: 25px;
    opacity: 0.8;
  }
}
