@use "definition/definition";
@import "reset";
$font-family-headers: roboto, arial, helvetica;
$font-family-headers-four: Arial, Helvetica, sans-serif;

body {
  background-color: #fffaeb;
  header {
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 10px 20px;
    width: 100%;
    margin: auto;
    nav {
      display: flex;
      justify-content: space-between;
      height: 100px;
      width: 80%;
      margin: auto;
      .fa-bars {
        display: none;
      }
      .header1 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
        .nav-name {
          letter-spacing: 3px;
          @extend %h1-style;
          font-size: 1.7rem;
          text-shadow: 1px 1px 3px black;
          span {
            color: #e9b949;
          }
        }
      }

      .navigation-bar {
        display: flex;
        ul {
          list-style: none;
          display: grid;
          gap: 1.5em;
          grid-template-columns: repeat(4, 1fr);
          li {
            @extend .header1;
            font-size: 1.3rem;
            letter-spacing: 3px;
            font-weight: 500;
            font-family: $font-family-headers;
            a {
              color: black;
              opacity: 0.8;
              text-decoration: none;
            }
            a:hover {
              transition: color 1s;
              color: #e9b949;
            }
          }
        }
      }
    }
  }
  main {
    @import "portfolio-pages/first-page";
    @import "portfolio-pages/second-page";
    @import "portfolio-pages/third-page";
    @import "portfolio-pages/fourth-page";
    @import "portfolio-pages/fifth-page";
  }
  footer {
    height: 27vh;
    width: 100%;
    background-color: #222222;
    .footer1 {
      .icons-2 {
        padding: 40px 0px 20px;
        text-align: center;
        a {
          padding: 20px;
          font-size: 2rem;
          color: #e9b949;
        }
        a:hover {
          color: #e7e7e7;
        }
      }
      .copyright {
        color: #4a7793;
        text-align: center;
        font-size: 1.5rem;
        padding: 20px;
      }
    }
  }
}
@media (max-width: 68em) {
  header {
    nav {
      height: 70px !important;
      padding: 0px !important;
      .header1 {
        .nav-name {
          font-size: 1.2rem !important;
        }
      }
      .navigation-bar {
        display: flex;
        ul {
          gap: 1.2em !important;
          li {
            font-size: 1.2rem !important;
          }
        }
      }
    }
  }
  .first-page {
    height: 85vh !important;
    .image-articles {
      margin-top: 210px !important;
      display: grid;
      .article-bio {
        margin-top: 0em !important;
        margin-left: 0em !important;

        .main-name {
          font-size: 1.7rem !important;
          letter-spacing: 4px !important;
        }
        h4 {
          margin-top: 10px !important;
          padding: 10px 10px !important;
          letter-spacing: 1px !important;
          margin-bottom: 20px !important;
          font-size: 1.1rem !important;
        }

        .icons {
          margin-top: 25px !important;
          margin-left: -20px;
          margin-bottom: 10px !important;
        }
      }

      .border-img {
        margin-left: 50px !important;
        width: 320px !important;
        height: 450px !important;
      }
    }
  }

  .second-page {
    .img-about {
      .about-page {
        .h1-about {
          letter-spacing: 0.5rem !important;
          font-size: 2rem !important;
          transform: scale(1, 1.5) !important;
        }
        .para {
          margin-top: -15px;
          line-height: 1.4rem !important;
          font-size: 1.1rem !important;
        }
        .cv-anshor {
          margin-top: 15px !important;
        }
      }
    }
  }
  .third-page {
    .page-content {
      width: 80% !important;
    }
  }
  .fourth-page {
    .chatbox {
      top: 18% !important;
      left: 18% !important;
      width: 70% !important;
    }
  }
}

@media (max-width: 47em) {
  header {
    padding: 5px 15px 0 15px !important;
    nav {
      width: 100% !important;
      height: 70px !important;
      padding: 0px !important;
      position: relative;
      .fa-bars {
        display: flex !important;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 2.3rem;
        margin-right: 10px;
      }
      .header1 {
        .nav-name {
          font-size: 1rem !important;
        }
      }
      .navigation-bar {
        visibility: hidden;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        justify-content: flex-end;
        ul {
          grid-template-columns: 1fr !important;
          grid-template-rows: repeat(4, 1fr);
          gap: 0em !important;
          width: 50%;
          background-color: black;
          li {
            font-size: 1.2rem !important;
            display: flex;
            justify-content: flex-end !important;
            align-items: center;

            a {
              padding: 20px;
              color: white !important;
            }
          }
        }

        li:hover {
          background-color: rgb(255, 255, 255);
          color: #222222 !important;
          a {
            color: black !important;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  .first-page {
    height: 100% !important;
    padding-bottom: 30px;
    .image-articles {
      max-width: 100% !important;
      margin-top: 70px !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: repeat(2, 1fr);
      display: grid;
      .article-bio {
        margin-top: 0em !important;
        margin-left: 0em !important;

        .main-name {
          font-size: 1.7rem !important;
          letter-spacing: 4px !important;
        }
        h4 {
          padding: 5px 10px !important;
          letter-spacing: 1px !important;
          margin-bottom: 30px !important;
          font-size: 1.1rem !important;
        }

        .icons {
          margin-top: 35px !important;
          margin-bottom: 10px !important;
        }
        i {
          font-size: 1.4em !important;
          padding: 10px 25px 0px 10px !important;
        }
      }

      .border-img {
        margin-left: 50px !important;
        width: 270px !important;
        height: 370px !important;
      }
    }
  }

  .second-page {
    height: 100% !important;
    padding: 10px 25px 40px;
    .img-about {
      width: 100% !important;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr !important;
      gap: 0.5em !important;
      margin-top: 35px;
      .border-about-image {
        display: none;
        img {
          display: none;
        }
      }
      .about-page {
        .h1-about {
          letter-spacing: 0.5rem !important;
          font-size: 2rem !important;
          transform: scale(1, 1.5) !important;
        }
        .para {
          margin-top: -15px;
          line-height: 1.4rem !important;
          font-size: 1.1rem !important;
        }
        .cv-anshor {
          margin-top: 15px !important;
        }
      }
    }
  }
  .third-page {
    height: 100% !important;
    background-color: #fffaeb;
    padding: 40px 0;
    .page-content {
      width: 80% !important;
      max-width: 100% !important;
      margin: auto;
      .title {
        text-align: center;
        transform: scale(1.2, 1.2) !important;
        padding-top: 10px !important;
        font-size: 2.3rem !important;
        letter-spacing: 2px !important;
        font-weight: 400 !important;
        text-shadow: 1px 1px 3px rgb(107, 107, 107);
      }
      .hr-2 {
        margin: auto !important;
        width: 10% !important;
        margin-bottom: 20px !important;
        margin-top: 20px !important;
      }
    }
    .main-grid-projects {
      height: 100% !important;
      display: grid;
      gap: 1em;
      grid-template-rows: repeat(4, 1fr) !important;
      grid-template-columns: 1fr !important;
      .prj1 {
        grid-row-start: 1;
        grid-row-end: 2 !important;
      }
      .prj2 {
        grid-column-start: 1 !important;
        grid-column-end: 2 !important;
        .img-title {
          #span1-prj2 {
            top: 15% !important;
            left: 17% !important;
          }

          #span3-prj2 {
            top: 45% !important;
            left: 17% !important;
          }
        }
        .prj1-title:after {
          content: " ";
          left: 15px !important;
        }
      }
    }
  }

  .fourth-page {
    height: 60vh;
    .chatbox {
      top: 18% !important;
      left: 18% !important;
      width: 70% !important;
      height: 60% !important;
      .contact-content {
        .contents {
          display: grid;
          grid-template-rows: repeat(3, 1fr) !important;
          grid-template-columns: 1fr !important;
        }
        span:nth-child(even) {
          display: none !important;
        }
      }
      .img-contact {
        display: none !important;
      }
      span {
        font-size: 1.3rem !important;
        padding: 5px !important;
      }
    }
    .chatbox:before {
      box-shadow: 0 70px 0 0 #fffaeb !important;
    }
  }
  .fifth-page {
    height: 100% !important;
    width: 100%;

    .content-fifth-page {
      .front-back {
        display: grid;
        gap: 1em;
        grid-template-rows: repeat(2, 1fr) !important;
        grid-template-columns: 1fr !important;
      }
    }
  }
}
