body header nav .header1 .nav-name, body header nav .navigation-bar ul li .nav-name, body main .first-page .image-articles .article-bio .main-name, body main .second-page .img-about .about-page .h1-about {
  font-family: roboto, arial, helvetica;
  font-size: 2.5rem;
  font-weight: 550;
  letter-spacing: 3px;
  text-transform: capitalize;
  transform: scale(1, 2);
  text-shadow: 1px 1px 3px black;
  opacity: 0.8;
}

body main .first-page .image-articles .article-bio hr, body main .second-page .img-about .about-page hr {
  border: none;
  height: 5px;
  width: 20%;
  margin-bottom: 20px;
  background-color: #e9b949;
  margin-left: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  -moz-transform: scale(1, 0.8);
  zoom: 0.9; /* Other non-webkit browsers */
  zoom: 80%;
  background-color: #fffaeb;
}
body header {
  padding: 20px 0px;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 10px 20px;
  width: 100%;
  margin: auto;
}
body header nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px 20px;
  width: 80%;
  margin: auto;
}
body header nav .header1, body header nav .navigation-bar ul li {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}
body header nav .header1 .nav-name, body header nav .navigation-bar ul li .nav-name {
  font-size: 1.7rem;
}
body header nav .header1 .nav-name span, body header nav .navigation-bar ul li .nav-name span {
  color: #e9b949;
}
body header nav .navigation-bar {
  display: flex;
}
body header nav .navigation-bar ul {
  list-style: none;
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(4, 1fr);
}
body header nav .navigation-bar ul li {
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: 500;
  font-family: roboto, arial, helvetica;
}
body header nav .navigation-bar ul li a {
  color: black;
  opacity: 0.8;
  text-decoration: none;
}
body header nav .navigation-bar ul li a:hover {
  transition: color 1s;
  color: #e9b949;
}
body main .first-page {
  height: 115vh;
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 0;
}
body main .first-page .image-articles {
  margin-top: 140px;
  height: 650px;
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
body main .first-page .image-articles .article-bio {
  margin-top: 1em;
  margin-left: 11em;
}
body main .first-page .image-articles .article-bio .main-name {
  font-size: 2.5rem;
  letter-spacing: 4px;
  padding: 10px;
  opacity: 0.8;
}
body main .first-page .image-articles .article-bio h4 {
  margin-top: 15px;
  padding: 10px;
  opacity: 0.7;
  letter-spacing: 1.5px;
  transform: scale(1, 1.2);
  font-weight: 600;
  margin-bottom: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
body main .first-page .image-articles .article-bio .button-hire-me {
  border-radius: 5px;
  letter-spacing: 1.5px;
  font-family: montserrat;
  text-align: center;
  text-transform: uppercase;
  background-color: #e9b949;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 20px;
  color: rgb(48, 47, 47);
  font-size: 1.1rem;
}
body main .first-page .image-articles .article-bio .button-hire-me:hover {
  transition: color 1s;
  background-color: #ecca7a;
}
body main .first-page .image-articles .article-bio .icons {
  margin-top: 50px;
  margin-left: -20px;
}
body main .first-page .image-articles .article-bio .icons .icon-1 {
  text-decoration: none;
  color: black;
}
body main .first-page .image-articles .article-bio .icons .icon-2 {
  text-decoration: none;
  color: black;
}
body main .first-page .image-articles .article-bio .icons .icon-3 {
  text-decoration: none;
  color: black;
}
body main .first-page .image-articles .article-bio .icons .icon-4 {
  text-decoration: none;
  color: black;
}
body main .first-page .image-articles .article-bio .icons .icon-5 {
  text-decoration: none;
  color: black;
}
body main .first-page .image-articles .article-bio .icons i {
  opacity: 0.8;
  font-size: 2.2em;
  padding: 20px 30px;
}
body main .first-page .image-articles .article-bio .icons i:hover {
  color: #e9b949;
  cursor: pointer;
}
body main .first-page .image-articles .border-img {
  margin-left: 80px;
  margin-top: 50px;
  border: 7px solid #e9b949;
  width: 390px;
  height: 550px;
  border-radius: 3%;
  position: relative;
}
body main .first-page .image-articles .border-img .my-img {
  border-radius: 3%;
  left: -40px;
  top: -30px;
  position: absolute;
  width: 100%;
  height: 100%;
}
body main header nav .header1 .nav-name, body header nav .header1 main .nav-name, body main header nav .navigation-bar ul li .nav-name, body header nav .navigation-bar ul li main .nav-name, body main .first-page .image-articles .article-bio .main-name, body main .second-page .img-about .about-page .h1-about {
  font-family: roboto, arial, helvetica;
  font-size: 2.5rem;
  font-weight: 550;
  letter-spacing: 3px;
  text-transform: capitalize;
  transform: scale(1, 2);
  text-shadow: 1px 1px 3px black;
  opacity: 0.8;
}
body main .first-page .image-articles .article-bio hr, body main .second-page .img-about .about-page hr {
  border: none;
  height: 5px;
  width: 20%;
  margin-bottom: 20px;
  background-color: #e9b949;
  margin-left: 10px;
}
body main .second-page {
  background-color: #ffffff;
  height: 120vh;
  padding-top: 195px;
}
body main .second-page .img-about {
  width: 80%;
  margin: auto;
  display: grid;
  gap: 5em;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
body main .second-page .img-about .border-about-image {
  position: relative;
  border: 6px solid #e9b949;
  width: 390px;
  height: 520px;
  border-radius: 3%;
}
body main .second-page .img-about .border-about-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 30px;
  right: -30px;
  border-radius: 3%;
}
body main .second-page .img-about .about-page {
  grid-column: span 2;
}
body main .second-page .img-about .about-page .h1-about {
  letter-spacing: 0.8rem;
  font-size: 2.6rem;
  transform: none;
  text-shadow: none;
}
body main .second-page .img-about .about-page hr {
  margin-left: 0;
  margin-bottom: 40px;
}
body main .second-page .img-about .about-page .para {
  text-indent: 5%;
  color: hsl(210deg, 22%, 49%);
  line-height: 2rem;
  font-size: 1.4rem;
}
body main .second-page .img-about .about-page .para .specialisation {
  margin-bottom: 5px;
}
body main .second-page .img-about .about-page .para div {
  margin-left: -67px;
}

/*# sourceMappingURL=style.css.map */
