@use "../definition/definition";
.fifth-page {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 45px;
  .content-fifth-page {
    width: 80%;
    margin: auto;
    .page-title {
      text-align: center !important;
      color: #171717 !important;
      font-size: 2.8rem !important;
      padding-bottom: 15px !important;
      transform: scale(1, 1) !important;
    }
    h1 {
      @extend %h1-style;
      transform: scale(1, 1) !important;
      font-size: 1.8rem !important;
      letter-spacing: 3px !important;
      color: #211a08 !important;
      padding: 30px 0px !important;
    }
    .hr-3 {
      @extend %hr;
      width: 6% !important;
      margin: auto !important;
      margin-bottom: 45px !important;
    }
    .front-back {
      display: grid;
      gap: 7em;
      grid-template-columns: repeat(2, 1fr);
      .front {
        @for $i from 1 through 3 {
          .subject-#{$i} {
            @extend %percent;
            @if $i ==2 {
              .hr-yellow {
                width: 60%;
              }
              .percentage-number {
                margin-left: 43%;
              }
            }
            @if $i == 3 {
              .hr-yellow {
                width: 70% !important;
              }
              .percentage-number {
                margin-left: 59%;
              }
            }
          }
        }
      }

      .back {
        @for $i from 1 through 2 {
          .subject-#{$i} {
            @extend %percent;
            .hr-yellow {
              width: 60%;
            }
            .percentage-number {
              margin-left: 46%;
            }
          }
        }
      }
    }
  }
}
