@use "../definition/definition";
.second-page {
  position: relative;
  background-color: #fbfbfb;
  height: 86.3vh;
  .img-about {
    width: 80%;
    margin: auto;
    margin-top: 35px;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 100%;
    .border-about-image {
      position: relative;
      border: 6px solid #e9b949;
      width: 330px;
      height: 430px;
      border-radius: 3%;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 35px;
        right: -30px;
        border-radius: 3%;
      }
    }
    .about-page {
      grid-column: span 2;
      .h1-about {
        @extend %h1-style;
        letter-spacing: 0.8rem;
        font-size: 2.6rem;
        transform: scale(1, 1.5) !important;
        margin-bottom: 15px;
        // margin-top: -50px;
      }

      .hr-2 {
        @extend %hr;
        width: 15% !important;
        margin-left: 0 !important;
        margin-bottom: 30px !important;
      }
      .para {
        text-indent: 5%;
        color: definition.$paragraph-color;
        line-height: 1.6rem;
        font-size: 1.3rem;
        font-weight: 500;
      }
      .cv-anshor {
        margin-top: 30px;
        .cv {
          border-radius: 5px;
          letter-spacing: 1.5px;
          font-family: $font-family-headers;
          text-align: center;
          background-color: #e9b949;
          text-decoration: none;
          padding: 10px 20px;
          color: rgb(48, 47, 47);
          font-size: 1.1rem;
        }
        .cv:hover {
          transition: color 1s;
          background-color: #ecca7a;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
