@use "../definition/definition";
.second-page {
  background-color: #ffffff;
  height: 85vh;
  padding-top: 70px;
  .img-about {
    width: 80%;
    margin: auto;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    .border-about-image {
      position: relative;
      border: 6px solid #e9b949;
      width: 330px;
      height: 420px;
      border-radius: 3%;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 30px;
        right: -30px;
        border-radius: 3%;
        // object-fit: contain;
      }
    }
    .about-page {
      grid-column: span 2;
      .h1-about {
        @extend %h1-style;
        letter-spacing: 0.8rem;
        font-size: 2.6rem;
        transform: none;
        text-shadow: none;
      }
      hr {
        @extend %hr;
        margin-left: 0;
        margin-bottom: 30px;
      }
      .para {
        text-indent: 5%;
        color: definition.$paragraph-color;
        line-height: 1.6rem;
        font-size: 1.3rem;
        font-weight: 500;
        .specialisation {
          margin-bottom: 5px;
          text-indent: 0 !important;
        }
        div {
          text-indent: 2% !important;
        }
      }
    }
  }
}
